{% extends 'base.html.twig' %}

{% block title %}Lobby Wars{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Judgement</h1>
{% for res in result %}
    {% for re in res %}
           <p> {{re | raw}}</p>
    {% endfor %}
{% endfor %}

{% if error is empty  %}
    <h2>Win the signature: {{total['win']}}</h2>
    Total point:{{total['maxPoint']}} 
{% endif %}


</div>
{% endblock %}
